@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap');

body{
    background:rgb(143, 140, 140)
}
.mobile-verify
{
    background-image:url("../images/15660.png");
    height:600px;
}
.mob-icon-verify
{
    text-align:center;
    vertical-align: middle;
    padding:50px;
}
.mob-icon
{
    display:flex;
    font-size: 300px;
    color:white;
    
    
}
.tick-mark
{
    position:relative;
    top:220px;
    color:rgb(37, 228, 37);
}
.h2
{
    font-family: 'Mulish', sans-serif;
}
.mob-form-label
{
    color: #7873f5;
    font-size:30px;
    font-weight:40px;
    letter-spacing: 2px;
}
.icon-circle
{
    text-align:center;
    display:flex;
    width:30px;
    height:30px;
    border-radius:50%;
    background:blue;
}
.number1
{
    display:unset;
}
#step1{
    background:blue;
    color:white;
}
#step2
{
    background:gray;
    color:white;
}
.show-error
{
    display:block;
    color:red;
}
.hide-error
{
    display:none;
}

.mobile-form input,.otp-verify input
{
    width:40px;
    height:70px;
    font-size:30px;
    text-align:center;
}
.mobile-form input:focus,.otp-verify input:focus
{
    outline: purple;
   border:2px solid purple;
}
