
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
.error{
    color:red;
}
.back{
    
    width:100%;
    overflow-x: hidden;
    box-sizing: border-box;
    background:#d1cdd1;
    padding-top:50px;
    
}
.color1{
    position:absolute;
    top:-100px;
    right:-130px;
    width:700px;
    height:500px;
    background:rgb(243, 191, 20);
    border-radius:50%;
}
.color2{
    position:absolute;
    bottom:-100px;
    left:-100px;
    width:700px;
    height:500px;
    background:white;
    border-radius:50%;
}


.content-row
{
    justify-content: center;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    height:auto;

   
}
.register-image
{
    background-image:url("../images/Account.gif");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    width:100%;
    height:620px;
}
.husu{
    color:rgb(80, 79, 79);
    font-size: 40px;
    font-weight:900;
    font-family: 'Krona One', sans-serif;
    position:relative;
   
}
.border{
    margin-top:20px;
    width:40%;
    background:orange;
    height:10px;
    border-radius:30px;
    border:none;
}
.border1{
    margin-top:20px;
    width:20%;
    background:orange;
    height:5px;
    border-radius:30px;
    border:none;
}
.form-group
{
    margin-bottom:10px;
}
.form-group label
{
    letter-spacing:0.5;
}
.form-content
{
    background:rgb(255, 255, 255);
    height:auto;
    box-sizing: border-box;
   
    
}
.go-ahead
{
    background:rgb(241, 165, 22);
    color:white;
    display:flex;
    float:right;
    margin-right:50px;
    margin-top:20px;
}
.go-ahead:hover
{
    background:rgb(241, 165, 22);
    color:white;
    transform:scale(1.2,1.2);
    transition:all 330ms ease-in;
    -webkit-box-shadow: 10px 10px 98px -15px rgba(10,10,10,1);
-moz-box-shadow: 10px 10px 98px -15px rgba(10,10,10,1);
box-shadow: 10px 10px 98px -15px rgba(10,10,10,1);
}