
.error
{
    color:red;

}
.cust-btn
{
    background:whitesmoke;
    color:blueviolet;
}
.cust-btn:hover,.cust-btn2:hover,.cust-btn3:hover,.cust-btn4:hover,.cust-btn5:hover,.cust-btn6:hover,.cust-btn-add-money:hover{
    
    
    transform:scale(1.1,1.1);
    transition: transform 330ms ease-in-out;
}
.cust-btn2
{
    background:whitesmoke;
    color:#14a08c;
}
.cust-btn3
{
    background:whitesmoke;
    color:#ef136c;
}
.cust-btn4
{
    background:whitesmoke;
    color:#f7b031;
}
.cust-btn5
{
    background:whitesmoke;
    color:#00689b;
}
.overview-item--c4{
    background: #fc4a1a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f7b733, #fc4a1a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}    
.overview-item--c5{

    background-image: linear-gradient( 111.8deg,  rgba(0,104,155,1) 19.8%, rgba(0,173,239,1) 92.1% );
}
.overview-item--c6{
    background-image: linear-gradient( 91.1deg,  rgba(57,31,105,1) -2.3%, rgba(115,43,155,1) 44.4%, rgba(231,75,184,1) 103.4% );
}
.bal-div{
    background:rgb(250, 249, 249);
    justify-content: center;
    text-align:center;
    box-shadow: 10px rgb(2, 2, 2);

}
.bal-icon
{
    font-size: 80px;
    color:rgba(255, 143, 0,0.8);
}
.rs-icon
{
    font-size:40px;
    color:rgba(255, 143, 0,0.8);
}
.rs-text
{
    font-size:50px;
}

.bal-font
{   
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.625;
    color: rgb(53, 52, 52);
    -moz-osx-font-smoothing: grayscale;
}
.deposit-fund{
    background:rgb(245, 242, 242);
    border-radius:30px;
    overflow:hidden;
}
.add-money-icon
{
    background:#68f60c;
    text-align:center;
    opacity:60%;
}
.add-money-label
{
    color:black;
    font-size:20px;
}
.add-money-text{
  
    width:100%;
   
}
.add-icon{
    font-size: 250px;
    color:whitesmoke;
}

.snd-mny{
    background:rgb(243, 240, 240);
    overflow:hidden;

}
.snd-icon{
    font-size: 300px;
    color:whitesmoke;
    padding-top:30px;
}
.sender-details1{
    background:#FF8F56;
    padding:0px;
    display:block;
    text-align:center;  
    overflow:hidden;
}
.sender-details{
    background:#FF8F56;
    padding:0px;
    display:block;
    text-align:center;  
    overflow:hidden;
}
#sender-invalid{
    display:none;
}
.sender-details h5 {
    color:whitesmoke;
}
.sender-details-show
{ 
    display:none; 
    background:#FF8F56;
    border:3px solid #FF8F56;
    text-align:center;
    
}
.sender-details-show h4{
    color:white;
    margin-top:20px;
    vertical-align: middle;
}
.snd-img
{
    
    width:180px;
    height:180px;
    border-radius:50%;
    border:5px solid white;
   
}
.btn-show,.btn-hide,.btn-cancel
{
    border:1px solid #FF8F56;
    background:white;
    color:#FF8F56;
}
.btn-show
{
    display:flex;
}
.btn-show:hover,.btn-hide:hover,.btn-cancel:hover{
    border:none;
    background:#FF8F56;
    color:white;
    transform:scale(1.1,1.1);
    transition: transform 330ms ease-in-out;

}
.btn-hide
{
    display:none;
}
.btn-cancel
{
    display:none;
}
.buttons-group
{
    display:flex;
    
}
.usr-div
{
    background:transparent;
    background-image:url("../images/15660.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: color-burn;
    
    
    
}
.prof-head
{
    display:block;
    width:200px;
    margin:0px auto;
    border-bottom:5px solid greenyellow;
}
.usr-details
{  
    text-align:center; 
    background:rgba(3, 3, 3, 0.6);
    margin:0px auto;
}
.usr-details h4{
    color:white;
    margin-top:20px;
    vertical-align: middle;
}
.usr-details h2{
    color:white;
    margin-top:10px;
}
.usr-details h5{
    color:greenyellow;
    margin-top:30px;
}
.attr
{
   text-align: right;
}
.val{
    text-align: left;
}
.user-ele
{
    text-align:center;
}
.profile-update
{
    
    background-image:url("../images/vino-li-u0rOLndCjSc-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  
}

.profile-pic {
    width: 200px;
    height: 200px;
    display: block;
}

.file-upload {
    display: none;
}
.circle {
    border-radius: 1000px !important;
    overflow: hidden;
    width: 200px;
    height: 200px;
    
    border: 5px solid whitesmoke;
    position: relative;
    top: 72px;
}

img {
    max-width: 100%;
    height: auto;
}
.p-image {
    position:relative;
    left:80px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.p-image:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}
.upload-button {
  font-size:60px;
  color:#FF8F56;
}

.upload-button:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}
.pass{
    justify-content:center;
    margin:0px auto;
    width:80%;
    border-radius:30px;
    overflow:hidden;

}
.change-pass
{
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(90,92,106,1) 0%, rgba(32,45,58,1) 81.3% );
    text-align:center;

}
.lock-icon
{
    font-size: 200px;
    color:whitesmoke;
    padding-top:100px;
}

/*login page styling*/

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400&display=swap');
.login-background
{
    background-image:url('../images/aleksandra-wantuch-ZqKYkwSfsJQ-unsplash.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    box-sizing:border-box;
    margin:0px;
    padding:0px;
    height:auto;
   
}
.log-img{
    margin:0px;
    padding:100px;
    background:rgba(0, 0, 0, 0.6);
    justify-content:center;
    height:100vh;

}
.log-col1
{
    background:rgb(6, 146, 6);
    padding:100px;
    height:550px;
    margin:0px;
    text-align:center;
    vertical-align: middle;
}
.log-col1 h1{
    color:white;-webkit-box-shadow: 0px 0px 78px 5px rgba(51,235,14,1);
    -moz-box-shadow: 0px 0px 78px 5px rgba(51,235,14,1);
    box-shadow: 0px 0px 78px 5px rgba(51,235,14,1);
    display:block;
    margin:0px auto;
    padding:20px;
    border:5px solid white;
    margin-bottom:20px;
    position:relative;

}
.know-more
{
    background:white;
    color:green;
    outline:none;
    margin-top:20px;
}
.log-col1 h2{
    color:white;
    font-family: 'Merriweather', serif;
    font-size:40px;
    letter-spacing: 1px;
    margin-bottom:50px;
}
.log-col1 p{
    color:white;
    font-size:20px;
    margin-bottom:20px;
}
.log-col2
{
    background:white;
    height:550px;
    margin:0px;
    padding:120px 40px;
    padding-left:100px;
    box-sizing:border-box;
    overflow-wrap: break-word;
    padding-top:80px;
    
}
.log-col2 h1{
    color:green;
    margin-bottom:20px;
    font-size:40px;
}

.input-field
{
    margin:0px auto;
    position:relative;
}
.log-icon{
    color:green;
    position:absolute;
    top:0px;
    left:0px;
    margin-left:20px;
    margin-top:10px;
    font-size:20px;

}
.form-lab{
    
    position:relative;
    text-align: start;

}
.lab{
    position:relative;
    top:0px;
    left:10px;
    padding:0px;
    margin:0px;

}
.log-input
{
    border-radius:20px;
    height:40px;
    position:relative;
    border:1px solid gray;
    background:whitesmoke;
}
.log-input:focus{
    -webkit-box-shadow: 0px 0px 5px 2px rgba(51,235,14,1);
-moz-box-shadow: 0px 0px 5px 2px rgba(51,235,14,1);
box-shadow: 0px 0px 5px 2px rgba(51,235,14,1);
}
.log-col2 .btn{
    width:150px;
    border-radius:20px;
    padding:5px;

}
.log-col2 .btn:hover{
    transform:scale(1.08,1.08);
    transition:all 200ms ease-in;
    box-shadow: 10px 10px 10px rgba(92, 91, 91, 0.6);
}
.dummy-line
{
    background:green;
    height:5px;
    width:80px;
    display:flex;
    border-radius:10px;
    margin-bottom:20px;

    
}
